{% extends "paginas/modelo.html" %}
{% load static %}

{% block title %}
<title>Lista de Servidores </title>
{% endblock title %}

{% block page_title %}
<div style="display: flex; justify-content: space-between; align-items: center; width: 70%;">
  <h2>Lista de registros</h2>
</div>
{% endblock page_title %}


{% block content %}
<div class="table-responsive">
    <table class='table table-striped'>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>

        {% for campo in object_list %}
        <tr>
            <td> {{ campo.nome }} </td>
            <td> {{ campo.descricao }}</td>
            <td> 
                <a href=" {% url 'editar-campo' campo.pk %} " class="btn btn-warning btn-sm" title="Editar">E</a>
                <a href="{% url 'excluir-campo' campo.pk %}" class="btn btn-danger btn-sm" title="Excluir">X</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Não há registro no banco de dados</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}
